/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utilities */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

/* navigation bar */
.nav-container{
    background-color: cadetblue;
    height: 50px;
}

.bg-yellow{
    background-color: goldenrod;
    height: fit-content;
    border: 1px dashed black;
}

.flex-gap{
    gap: 10px;
}

.logo{
    width: 200px;
}

.nav-container ul{
    width: 400px;
}

.nav-container ul > li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}
.login{
    width: 200px;
    text-align: end;
}

/* main header */

.header-container{
    background-color: blue;
    height: 400px;
}

.header-text{
    width: 600px;
    height: 300px;
    background-color: pink;
    border: 1px dashed black;
}

/* MAIN */

.main-container{
    height: 600px;
}

.img, .main-text{
    height: 500px;
    border: 1px dashed black;
}

.img{
    width: 500px;
    background-color: cornflowerblue;
}

.main-text{
    width: 400px;
    background-color: blueviolet;
}

.bg-gray{
    background-color: grey;
}

.end-main{
    width: 900px;
    height: 500px;
    background-color: green;
    border: 1px dashed black;
}